In [1]:
import re

In [2]:
dir(re)

['DEBUG',
 'DOTALL',
 'I',
 'IGNORECASE',
 'L',
 'LOCALE',
 'M',
 'MULTILINE',
 'S',
 'Scanner',
 'T',
 'TEMPLATE',
 'U',
 'UNICODE',
 'VERBOSE',
 'X',
 '_MAXCACHE',
 '__all__',
 '__builtins__',
 '__doc__',
 '__file__',
 '__name__',
 '__package__',
 '__version__',
 '_alphanum',
 '_cache',
 '_cache_repl',
 '_compile',
 '_compile_repl',
 '_expand',
 '_locale',
 '_pattern_type',
 '_pickle',
 '_subx',
 'compile',
 'copy_reg',
 'error',
 'escape',
 'findall',
 'finditer',
 'match',
 'purge',
 'search',
 'split',
 'sre_compile',
 'sre_parse',
 'sub',
 'subn',
 'sys',
 'template']

In [19]:
mailExp = re.compile(r'\w[\w_.]*@\w+[.]\w+')

In [20]:
match = mailExp.findall('my mail krs.123@gmail.com then kat_123@yahoo.com')

In [21]:
match

['krs.123@gmail.com', 'kat_123@yahoo.com']

In [22]:
name = "programming"

In [23]:
name[3:]

'gramming'

In [24]:
name[-1:]

'g'

In [25]:
name[:]

'programming'

In [26]:
cls

In [27]:
name[:-1]

'programmin'

In [28]:
name[::1]

'programming'

In [29]:
name[::2]

'pormig'

In [30]:
name[::-1]

'gnimmargorp'

In [14]:
match = mailExp.findall('my mail krs.123@gmail.com then kat_123@yahoo.com')

In [15]:
match

['krs.123@gmail.com', 'kat_123@yahoo.com']

In [6]:
match.group()

AttributeError: 'list' object has no attribute 'group'

In [7]:
match

['123@gmail', 'kat123@yahoo']

In [49]:
def match_ends(l1):
    print 'The list is',l1
    count=0
    for item in l1:
        if ( item[0] == item[-1]) and (len(item)>=2):
            count+=1
    print 'Total of',count,'strings matching'
    return count

In [39]:
list1=['aba','xyz','bb','ccc']

In [50]:
match_ends(list1)

The list is ['aba', 'xyz', 'bb', 'ccc']
Total of 2 strings matching

2

In [32]:
list1=['aba','xyz','bb','ccc']

In [37]:
match_ends(list1)

The list is ['aba', 'xyz', 'bb', 'ccc']
Total of 3 strings matching

In [51]:
words = ['mix', 'xyz', 'apple', 'xanadu', 'aardvark']

In [52]:
words

['mix', 'xyz', 'apple', 'xanadu', 'aardvark']

In [58]:
def sort_words(words):
    l1=[]
    l2=[]
    for word in words:
        if word[0] == 'x':
            l1.append(word)
        else:
            l2.append(word)
    l1.sort()
    l2.sort()
    
    print l1, l2
    return l1+l2

In [60]:
lt = [(1, 7), (1, 3), (3, 4, 5), (2, 2)]

In [61]:
lt

[(1, 7), (1, 3), (3, 4, 5), (2, 2)]

In [62]:
sorted(lt)

[(1, 3), (1, 7), (2, 2), (3, 4, 5)]

In [63]:
sorted(lt, key=lambda x: x[-1])

[(2, 2), (1, 3), (3, 4, 5), (1, 7)]

In [59]:
sort_words(words)

['xanadu', 'xyz'] ['aardvark', 'apple', 'mix']

['xanadu', 'xyz', 'aardvark', 'apple', 'mix']

In [65]:
def front_x(words):
    l1=[]
    l2=[]
    for word in words:
        if word[0] == 'x':
            l1.append(word)
        else:
            l2.append(word)
    l1.sort()
    l2.sort()
    
    print l1, l2
    return l1+l2

In [67]:
def match_ends(words):
    count=0
    for item in l1:
        if ( item[0] == item[-1]) and (len(item)>=2):
            count+=1
    
    return count

In [71]:
def match_ends(words):
    count=0
    for item in words:
        l = len(item)
        if (len(item)>=2):
            if ( item[0] == item[l-1]):
                count+=1
    
    return count

In [72]:
match_ends(['aba', 'xyz', 'aa', 'x', 'bbb'])

3

In [ ]:
def match_ends(words):
    count=0
    for item in words:
        l = len(item)
        last = item[l-1]
        if ( item[0] == last) and (len(item)>=2):
            count+=1
    
    return count

In [87]:
if __name__ == '__main__':
    n = int(raw_input())
    arr = map(int, raw_input().split())
    
    first = -256
    second = -256
    
    for score in arr:
        
        if score > first:
            second = first
            first = score
            
        if score > second and score<first:
            second = score
    print second

6
2 4 5 6 7 7
6

In [88]:
import os

In [89]:
os.sep

'\\'

In [90]:
os.getcwd()

'C:\\Users\\ADMIN'

In [91]:
os.dir()

AttributeError: 'module' object has no attribute 'dir'

In [92]:
n = input("Enter number of students:")
students[n]={}

Enter number of students:5

NameError: name 'students' is not defined

In [93]:
students={}

In [94]:
students

{}

In [95]:
students=[]

In [96]:
students

[]

In [101]:

for i in range(int(raw_input("Enter number of students in class:"))):
    student=[]
    student.append(raw_input("student name"))
    student.append(float(raw_input("physics score of the student")))
    students.append(student)

Enter number of students in class:5
student nameHarry
physics score of the student37.21
student nameBerry
physics score of the student37.21
student nameTina
physics score of the student32
student nameJoe
physics score of the student39.6
student nameKate
physics score of the student45

In [102]:
students

[['Harry', 37.21],
 ['Harry', 37.21],
 ['Berry', 37.21],
 ['Tina', 32.0],
 ['Joe', 39.6],
 ['Kate', 45.0]]

In [103]:
students['Berry']

TypeError: list indices must be integers, not str

In [104]:
students[1][1]

37.21

In [121]:
lowest = 256
second =256
for student in students:
    if student[1] < lowest:
        second = lowest
        lowest = student[1]
    
    if student[1] < second and student[1] > lowest:
        second = student[1]

print '\n'.join( a for a,b in students if b==second)

Harry
Harry
Berry

In [117]:
names

['Harry', 'Harry', 'Berry']

In [118]:
names.sorted()

AttributeError: 'list' object has no attribute 'sorted'

sort(names)

In [119]:
names

['Harry', 'Harry', 'Berry']

In [120]:
print names.split("\n")

AttributeError: 'list' object has no attribute 'split'

In [115]:
studentsts.

AttributeError: 'list' object has no attribute 'exists'

In [107]:
students

[['Harry', 37.21],
 ['Harry', 37.21],
 ['Berry', 37.21],
 ['Tina', 32.0],
 ['Joe', 39.6],
 ['Kate', 45.0]]

In [127]:
students = [ [raw_input(), float(raw_input())] for _ in range(input())]
lowest=256
second = 256


for student in students:
    if student[1] < lowest:
        second = lowest
        lowest = student[1]
    
    if student[1] < second and student[1] > lowest:
        second = student[1]

print '\n'.join(sorted( a for a,b in students if b==second))

5
Raj
45
Sam
50
Manasa
45
Kate
35
James
48
Manasa
Raj

In [128]:
def divisible_7():
    for number in range(1,1001):
        if number % 7 == 0:
            print number

In [129]:
divisible_7()

7
14
21
28
35
42
49
56
63
70
77
84
91
98
105
112
119
126
133
140
147
154
161
168
175
182
189
196
203
210
217
224
231
238
245
252
259
266
273
280
287
294
301
308
315
322
329
336
343
350
357
364
371
378
385
392
399
406
413
420
427
434
441
448
455
462
469
476
483
490
497
504
511
518
525
532
539
546
553
560
567
574
581
588
595
602
609
616
623
630
637
644
651
658
665
672
679
686
693
700
707
714
721
728
735
742
749
756
763
770
777
784
791
798
805
812
819
826
833
840
847
854
861
868
875
882
889
896
903
910
917
924
931
938
945
952
959
966
973
980
987
994

In [130]:
l1 = [ number for number in range(7,1001) if number%7 == 0]

In [131]:
l1

[7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 70,
 77,
 84,
 91,
 98,
 105,
 112,
 119,
 126,
 133,
 140,
 147,
 154,
 161,
 168,
 175,
 182,
 189,
 196,
 203,
 210,
 217,
 224,
 231,
 238,
 245,
 252,
 259,
 266,
 273,
 280,
 287,
 294,
 301,
 308,
 315,
 322,
 329,
 336,
 343,
 350,
 357,
 364,
 371,
 378,
 385,
 392,
 399,
 406,
 413,
 420,
 427,
 434,
 441,
 448,
 455,
 462,
 469,
 476,
 483,
 490,
 497,
 504,
 511,
 518,
 525,
 532,
 539,
 546,
 553,
 560,
 567,
 574,
 581,
 588,
 595,
 602,
 609,
 616,
 623,
 630,
 637,
 644,
 651,
 658,
 665,
 672,
 679,
 686,
 693,
 700,
 707,
 714,
 721,
 728,
 735,
 742,
 749,
 756,
 763,
 770,
 777,
 784,
 791,
 798,
 805,
 812,
 819,
 826,
 833,
 840,
 847,
 854,
 861,
 868,
 875,
 882,
 889,
 896,
 903,
 910,
 917,
 924,
 931,
 938,
 945,
 952,
 959,
 966,
 973,
 980,
 987,
 994]

In [135]:
for n in range(1000):
    if (n/100)==3 or (n/10)%10==3 or n%10==3:
        print n

3
13
23
30
31
32
33
34
35
36
37
38
39
43
53
63
73
83
93
103
113
123
130
131
132
133
134
135
136
137
138
139
143
153
163
173
183
193
203
213
223
230
231
232
233
234
235
236
237
238
239
243
253
263
273
283
293
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
403
413
423
430
431
432
433
434
435
436
437
438
439
443
453
463
473
483
493
503
513
523
530
531
532
533
534
535
536
537
538
539
543
553
563
573
583
593
603
613
623
630
631
632
633
634
635
636
637
638
639
643
653
663
673
683
693
703
713
723
730
731
732
733
734
735
736
737
738
739
743
753
763
773
783
793
803
813
823
830
831
832
833
834
835
836
837
838
839
843
853
863
873
883
893
903
913
923
930
931
932
933
934
935
936
937
938
939
943
953
963
973
983
993

In [136]:
list=[n for n in range(1000) if (n/100)==3 or (n/10)%10==3 or n%10==3]

In [137]:
list

[3,
 13,
 23,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 43,
 53,
 63,
 73,
 83,
 93,
 103,
 113,
 123,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 143,
 153,
 163,
 173,
 183,
 193,
 203,
 213,
 223,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 243,
 253,
 263,
 273,
 283,
 293,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 403,
 413,
 423,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 443,
 453,
 463,
 473,
 483,
 493,
 503,
 513,
 523,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 543,
 553,
 563,
 573,
 583,
 593,
 603,
 613,
 623,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 643,
 653,
 663,
 673,
 683,
 693,
 703,
 713,
 723,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 743,
 753,
 763,
 773,
 783,
 793,
 803,
 813,
 823,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 843,
 853,
 863,
 873,
 883,
 893,
 903,
 913,
 923,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 943,
 953,
 963,
 973,
 983,
 993]

In [140]:
li = [ num for num in range(1000) if '3' in str(num)]

In [141]:
li

[3,
 13,
 23,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 43,
 53,
 63,
 73,
 83,
 93,
 103,
 113,
 123,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 143,
 153,
 163,
 173,
 183,
 193,
 203,
 213,
 223,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 243,
 253,
 263,
 273,
 283,
 293,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 403,
 413,
 423,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 443,
 453,
 463,
 473,
 483,
 493,
 503,
 513,
 523,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 543,
 553,
 563,
 573,
 583,
 593,
 603,
 613,
 623,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 643,
 653,
 663,
 673,
 683,
 693,
 703,
 713,
 723,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 743,
 753,
 763,
 773,
 783,
 793,
 803,
 813,
 823,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 843,
 853,
 863,
 873,
 883,
 893,
 903,
 913,
 923,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 943,
 953,
 963,
 973,
 983,
 993]

In [139]:
li

[3, 13, 23, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 43, 53, 63, 73, 83, 93]

In [155]:
sentence = 'Back to back comedy scenes of AVS _ _ _'
li = [letter for letter in sentence if letter == ' ']
print len(li)

9

In [162]:
sentence = 'List comprehensions Are one Of the unique features of python'
li = [letter for letter in sentence if letter.lower() not in ['a','e','i','o','u']]
print ''.join(li)

Lst cmprhnsns r n f th nq ftrs f pythn

In [163]:
sentence = 'List comprehensions Are one Of the unique features of python'
li = [word for word in sentence.split() if len(word)<4]
print li

['Are', 'one', 'Of', 'the', 'of']

In [151]:
li

[1, 1, 1, 1, 1, 1]

In [148]:
li

[1, 1, 1, 1, 1, 1]

In [145]:
li

[' ', ' ', ' ', ' ', ' ', ' ']